@page "/Author/{AuthorId}"
@using Blazor.Services

<h3>Информация об авторе</h3>


@if (CurrentAuthor != null)
{
    <div class="authorBlock">
        <div class="field">
            <label class="label">Идентификатор</label> <input class="form-control valueField" type="text" value="@CurrentAuthor.Id" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">ФИО</label> <input class="form-control valueField" type="text" value="@CurrentAuthor.Fullname" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Звание</label> <input class="form-control valueField" type="text" value="@CurrentAuthor.Grade" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Должность</label> <input class="form-control valueField" type="text" value="@CurrentAuthor.Position" aria-label="Disabled input example" disabled readonly>
        </div>
    </div>

    <h3>Статьи</h3>

    <table class="table">
        <thead>
        <th >Заголовок</th>
        <th >Ключевые слова</th>
        <th >Аннотация</th>
        <th>Авторы</th>
        </thead>
        <tbody>
        @foreach (var art in CurrentAuthor.Articles)
        {
            <tr >
                <td>@art.Title</td>
                <td>@art.Keywords</td>
                <td>@art.Abstract</td>
                <td>
                    <div class="artAuthors">
                        @foreach (var artAuthor in Authors)
                        {
                            if (artAuthor.Articles.Any(x => x.Id == art.Id))
                            {
                                <span class="authorTag">@artAuthor.Fullname</span>
                            }
                        }
                    </div >
                </td>
            </tr>
        }
        </tbody>

    </table>
    <h3>Аффилиации</h3>
    <table class="table">
        <thead>
        <th >Название</th>
        <th >Адрес</th>
        <th >Направление деятельности</th>
        </thead>
        <tbody>
        @foreach (var aff in CurrentAuthor.Affiliations)
        {
            <tr >
                <td>@aff.CompanyName</td>
                <td>@aff.Address</td>
                <td>@aff.Specialization</td>

            </tr>
        }
        </tbody>

    </table>
}

@code {

    [Parameter]
    public string AuthorId { get; set; }

    public List<Data.Models.Author> Authors { get; set; }
    public Data.Models.Author? CurrentAuthor { get; set; }

    [Inject]
    private IAuthorProvider authorsProvider { get; set; }


    protected async override Task OnInitializedAsync()
    {
        CurrentAuthor = await authorsProvider.GetOne(Int32.Parse(AuthorId));
        Authors = await authorsProvider.GetAll();
        Console.WriteLine(CurrentAuthor);
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }




}