.field {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.authorBlock {
    display: flex;
    flex-direction: column;

}

.label {
    width: 200px;

}

.valueField {
    width: 400px;
}

.artAuthors {
    display: flex;
    flex-direction: column;
}

.authorTag {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #8b008bff;
    border-radius: 8px;
    background-color: #ff00ff44;
}