@using Blazor.Data.Models
@inject HttpClient Http
@inject NavigationManager _navigationManager
<h1>Список авторов</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Звание</th>
        <th>Должность</th>
    </tr>
    </thead>
    <tbody>
    @if (authors != null)
    {
       @foreach (var author in authors)
        {
            <tr  @onclick="()=>toItem(author)">
                <td>@author.Id</td>
                <td>@author.Fullname</td>
                <td>@author.Grade</td>
                <td>@author.Position</td>
            </tr>
        }
    }

    </tbody>

</table>




@code{
    private List<Author>? authors;

    protected override async Task OnInitializedAsync()
    {
        authors = await Http.GetFromJsonAsync<List<Author>>("https://localhost:7109" + $@"/api/Author/");
    }

    public void toItem(Author author)
    {
        _navigationManager.NavigateTo($"/Author/{author.Id}");
    }

}